.DS_Store
/bin/
/.bundle/
/convert_report.txt
/coverage/
/doc/
.envrc
/Gemfile.local
Gemfile.lock
.git/
/.idea/
*.iml
/inventory.yaml
/junit/
/log/
.metadata
/modules
/pkg/
.project
/spec/fixtures/manifests/
/spec/fixtures/modules/
.*.sw[op]
/tmp/
/update_report.txt
/.vagrant/
/vendor/
.yardoc
.yardwarns
