# ClusterShell groups config local.cfg
#
# Replace /etc/clustershell/groups
#
# Note: file auto-loaded unless /etc/clustershell/groups is present
#
# See also groups.d/cluster.yaml.example for an example of multiple
# sources single flat file setup using YAML syntax.
#
# Feel free to edit to fit your needs.
misc: comcam-db01,comcam-fp01,comcam-mcm,comcam-vw01
dc: comcam-dc01
all: @dc,@misc,@uno,@lion
uno: comcam-hcu03
lion: comcam-lion[01-03],pathfinder-lion01
hcu: @uno,@lion
