---
# yamllint disable rule:quoted-strings
name: rake checks

"on":
  push:
    branches:
      - production
      - cp_production
  pull_request:

jobs:
  rake_checks:
    runs-on:
      group: Default Larger Runners
      labels: ubuntu-latest-16-cores
    steps:
      - uses: actions/checkout@v4

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7.7
      - run: bundle install
      - name: run rake checks
        run: bundle exec rake
